@import '../../utils/scss/applicationConstants.module.scss';

.artist_analytics {
    &_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        height: 100%;
        width: 100%;
    }

    &_search_field {
        width: 80%;
        
        input {
            color: white;
        }

        input ::placeholder {
            color: white
        }

        svg {
            color: white
        }

        :global(.MuiInputLabel-root) {
            color: white;
            background-color: transparent;
        }

        :global(.MuiAutocomplete-inputRoot) {
            border: 2px solid $widget_background;
        }

        :global(.Mui-focused .MuiAutocomplete-inputRoot) {
            border: 2px solid transparent;
        }

        :global(.MuiAutocomplete-inputRoot):hover {
            border: 2px solid $widget_background;
        }
        
        :global(.Mui-focused .MuiOutlinedInput-notchedOutline) {
            color: white;
            border: 0px solid white;
        }

        :global(.MuiOutlinedInput-notchedOutline) {
            border-width: 0px;
        }
    }

    &_force_directed_graph {
        &_container {
            border-radius: 5px;
            background-color: $widget_background;
            height: 80%;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}