// Fonts
@import 'https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet';

// Color variables
$application_background: #0A0A0A;
$base_text_color: white;
$widget_background: #101010;

// Font
$main-font: 'Inter', sans-serif;