@import '../../utils/scss/applicationConstants.module.scss';

.spotify_art {
    &_container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_canvas {
        height: 90%;
        width: 90%;
        border: 2px solid green;
    }

    p {
        color: 'white';
    }
}