@import '../../utils/scss/applicationConstants.module.scss';

.spotify_art {
    &_container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}